#header {
    width: 100%;
    padding: 1.4vw;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--black);
    background-color: var(--mainBg);
    color: var(--white);
    position: fixed;
    z-index: 100;

    .header__inner {
        display: flex;
        align-items: center;
        position: relative;

        span {
            padding-right: 20px;

            svg {
                width: 24px;
                height: 24px;
                vertical-align: -3px;
                cursor: pointer;
            }
        }

        .logo {
            font-size: 24px;
        }
    }

    .header__user {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-right: 4px;

        button {
            display: none;
            background: transparent;
            cursor: pointer;

            svg {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }

        span {
            padding: 0.75rem;
        }

        .profile {
            svg {
                width: 1.875rem;
                height: 1.875rem;
                cursor: pointer;
            }
        }

        @media (max-width:800px) {
            span {
                display: none;
            }

            button {
                display: block;
                position: relative;
            }
        }
    }

    .search__box {
        width: 100%;
        max-width: 500px;
        height: 40px;
        background-color: #414758;
        color: var(--white);
        display: flex;
        align-items: center;
        padding: 6px 4px;
        border-radius: 5px;

        input {
            height: 24px;
            width: 100%;
            padding: 10px;
            background-color: transparent;
            color: var(--white);
            border: none;
            outline: none;

            &::placeholder {
                color: #7C8296;
                font-size: 14px;
            }
        }



        span {
            padding-right: 10px;

            svg {
                width: 20px;
                height: 20px;
                vertical-align: -5px;
                cursor: pointer;
            }
        }
    }

    .m__search__box {
        display: none;
        width: 100%;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;

        // &::after {
        //     content: '';
        //     width: 100%;
        //     height: 100px;
        //     position: absolute;
        //     background-color: var(--black);
        //     z-index: -1;
        // }

        button {
            width: 40px;
            position: absolute;
            right: 10px;
            bottom: -40px;
        }
    }

    .mb__search__box {
        background-color: var(--black);
        color: var(--white);
        display: flex;
        align-items: center;
        padding: 6px 4px;
        border-radius: 5px;
        position: absolute;

        input {
            height: 24px;
            width: 100%;
            padding: 10px;
            background-color: var(--black);
            color: var(--white);
            border: none;
            outline: none;
        }

        span {
            padding-right: 10px;

            svg {
                width: 20px;
                height: 20px;
                vertical-align: -5px;
                cursor: pointer;
            }
        }
    }

    @media (max-width:800px) {
        .search__box {
            display: none;
        }

        .m__search__box {
            display: none;

            .mb__search__box {
                display: flex;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 120px);
            }
        }
    }

    .menu {
        padding: 0.8vw;
        position: fixed;
        left: 0;
        top: 74px;
        width: 240px;
        border-right: 1px solid #262A35;
        height: 100%;
        transform: translateX(-250px);
        transition: transform 0.3s ease;
        color: #B1B5C2;

        &.open {
            transform: translateX(0);
        }

        li {
            width: 100%;
            display: flex;
            flex-direction: column;

            a {
                width: 100%;
                display: block;
                padding: 8px;
                margin: 4px 0;

                &:hover {
                    background-color: var(--black);
                    color: var(--white);
                    border-radius: 5px;
                }

                svg {
                    width: 24px;
                    height: 24px;
                    vertical-align: -5px;
                }

                span {
                    margin-left: 12px;
                    font-size: 1em;

                }

                &.active {
                    background-color: #13151A;
                    color: #71E5D7;
                    border-radius: 5px;

                }
            }


        }

        .menu__main {
            margin: 7px 0;
            padding: 7px 0;
            border-top: 1px solid #262A35;
            border-bottom: 1px solid #262A35;

            li {
                a {
                    svg {
                        width: 24px;
                        height: 24px;
                        vertical-align: -5px;
                    }

                    span {
                        margin-left: 12px;
                    }
                }

            }
        }
    }


}